<!--
<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.werdna.DirectoryOfRegions.service.RegionService">

    <resultMap id="subscriber" type="kz.jazzsoft.dal.Subscriber">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>

    <select id="getSubscriberById" parameterType="java.lang.Integer"
            resultMap="subscriber">  &lt;!&ndash; ссылка на ResultMap по которому и будет происходить мапинг&ndash;&gt;
        select * from subscriber where id = #{id}
    </select>

    <select id="findALl" parameterType="com.werdna.DirectoryOfRegions.entity.Region">
        select * from directory
    </select>

    <select id="update">
        select * from directory where id = #{id}
    </select>
</mapper>
-->
